<div class="gallery">
    <div class="gridster-cnt" ng-click="openBlade()" ng-if="!isDisabled()">
        <div class="cnt-inner">
            <i class="gallery-ico fas fa-comment"></i>
            <div class="list-t">{{ 'marketplaceCommunication.widgets.communication.title' | translate }}</div>
        </div>
    </div>
    <div class="gridster-cnt" ng-if="isDisabled()" disabled>
        <div class="cnt-inner">
            <i class="gallery-ico fas fa-comment"></i>
            <div class="list-t">{{ 'marketplaceCommunication.widgets.communication.is-disabled' | translate }}</div>
        </div>
    </div>
</div>
