<div class="message-composer">
    <div class="message-composer__collapsed"
         ng-if="!$ctrl.isExpanded"
         ng-click="$ctrl.onExpand()">
        {{ 'marketplaceCommunication.blades.message-list.labels.start-conversation' | translate }}
    </div>

    <div class="message-composer__expanded" ng-if="$ctrl.isExpanded">
        <div class="message-composer__content-wrapper">
            <textarea
                class="message-composer__input"
                ng-model="$ctrl.message.text"
                ng-keypress="$ctrl.handleKeyPress($event)"
                placeholder="{{ 'marketplaceCommunication.blades.message-list.labels.enter-message' | translate }}"
                vc-focus="$ctrl.isExpanded">
            </textarea>

            <div over-class="message-composer__assets-zone--dragging"
                 nv-file-drop
                 nv-file-over
                 class="message-composer__assets-zone"
                 uploader="uploader">

                <div class="message-composer__assets-wrapper">
                    <input type="file"
                           multiple
                           class="message-composer__file-input"
                           ng-hide="true"
                           nv-file-select
                           uploader="uploader">

                    <button class="btn message-composer__attach-button"
                            ng-click="$ctrl.openFileSelect()"
                            ng-disabled="uploader.isUploading">
                        <i class="fa message-composer__attach-icon" ng-class="uploader.isUploading ? 'fa-spinner fa-spin' : 'fa-paperclip'"></i>
                    </button>

                    <message-assets
                        ng-if="$ctrl.message.attachments.length || uploader.isUploading"
                        assets="$ctrl.message.attachments"
                        is-editing="true"
                        on-remove="$ctrl.removeAsset(asset)">
                    </message-assets>
                </div>
            </div>
        </div>

        <div class="message-composer__actions">
            <button class="btn __cancel" ng-click="$ctrl.onCancel()">
                <span class="fa fa-times"></span>
                {{ 'marketplaceCommunication.blades.message-list.buttons.cancel' | translate }}
            </button>
            <button class="btn"
                    ng-click="$ctrl.onSend()"
                    ng-disabled="!$ctrl.message.text || $ctrl.isLoading">
                <span class="fa fa-paper-plane"></span>
                {{ $ctrl.isLoading ? ('marketplaceCommunication.blades.message-list.labels.sending' | translate) : ('marketplaceCommunication.blades.message-list.labels.send' | translate) }}
            </button>
        </div>
    </div>
</div>