<div class="blade-content __medium-wide">
  <div class="blade-inner">
    <div class="inner-block messages-layout">
        <div class="messages-layout__header">
            <conversation-header
              ng-if="isInitialLoadComplete && blade.entityId && blade.entityType && blade.conversation"
              conversation="blade.conversation"
              on-click="blade.openEntityDetails()"
            >
            </conversation-header>

            <show-more-messages
              ng-if="blade.exactlyMessageId"
              on-click="blade.showAllThreads()"
            >
            </show-more-messages>
        </div>

        <div class="messages-layout__content">
            <empty-state
              ng-if="isInitialLoadComplete && !blade.messages.length && !blade.isLoading"
              on-start="startConversation()"
            >
            </empty-state>

            <messages-container
              ng-if="blade.messages.length || blade.isLoading"
              messages="blade.messages"
              is-loading-previous="isLoadingPrevious"
              is-loading-more="isLoadingMore"
              has-previous="blade.hasPrevious"
              has-more="blade.hasMore"
              total-count="blade.totalCount"
              current-user="currentUser"
              on-load-previous="loadPreviousMessages()"
              on-load-more="loadMore()"
              thread-loading-states="threadLoadingStates"
              has-replies="hasReplies"
              delete-message="deleteMessage(message)"
              edit-message="editMessage(message)"
              mark-as-read="markAsRead(message)"
              toggle-replies="toggleReplies(message)"
              get-message-replies="getMessageReplies(message)"
              has-more-replies="hasMoreReplies(message)"
              load-more-replies="loadMoreReplies(message)"
              has-previous-replies="hasPreviousReplies(message)"
              load-previous-replies="loadPreviousReplies(message)"
              search-messages-loading="searchMessagesLoading"
              should-show-unread-dot="shouldShowUnreadDot(message)"
              send-reply="sendReply(message, text, attachments)"
              update-message="updateMessage(params)"
              settings="communicationSettings"
            >
            </messages-container>
        </div>

        <div class="messages-layout__footer">
            <message-composer
              is-expanded="isFormExpanded"
              message="mainForm"
              is-loading="blade.isLoading"
              conversation-id="blade.conversationId"
              entity-id="blade.entityId"
              entity-type="blade.entityType"
              settings="communicationSettings"
              on-send="sendRootMessage()"
              on-cancel="cancelMessage()"
              on-expand="expandForm()"
            >
            </message-composer>
        </div>
    </div>
  </div>
</div>
